.App {
  text-align: center;
}

.App-link {
  color: #2300ae;
}

.App-logo {
  height: 7vmin;
  background-color: white;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

.fileInfo {
  font-size: small;
}

.splitScreen {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.topPane {
  grid-column: 1;
  grid-row: 1;
}

.bottomPane {
  grid-column: 2;
  grid-row: 1;
}

.Logo-header {
  background-color: #3a3c4f;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* button parent style */
.button {
  background-color: #606dfa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* button children */

.datagen {
  background-color: #ffd500;
}

.back {
  padding: 10px 21px;
  text-align: left;
}

.config {
  background-color: #9235e8;
}

/* App-body parent style */

.App-body {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

/* App-body children */

.header {
  background: url("launch_page_background.png");
  background-size: contain;
  /*background-color: #dee0f8;*/
  min-height: 25vh;
}

.links {
  background-color: #dee0f8;
}

.data {
  background-color: #d5d9ff;
  /*background-color: #f0f8de;*/
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
